
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todos{
    width: 100%;
}

.deleteBtn{
    cursor: pointer;
    width: 25px;
    float: right;
    margin-right: 10px;


}
.doneBtn{
    cursor: pointer;
    width: 23px;
    float: right;
    margin-right: 10px;
}
.backBtn{
    cursor: pointer;
    width: 25px;
    float: right;
    margin-right: 10px;
    
}

.container{
    background-color: rgb(244, 244, 250);
    width: 60%;
    padding: 20px;
}
.list-group{
    background-color: rgb(197, 193, 193);
    width: 60%;
    margin-left: 230px;
}
.hidden{
   background-color: gainsboro;
   text-decoration: line-through;
}

.input{
    width: 100%;
    padding: 5px;

}
.btnAdd{
    width: 100%;
    padding: 5px;
}
.small{
    color: red;
}
.error{
    color: red;
}



/* -----------------Modal delen------------------ */

#myModal {
    background-color: #fefefe;
    margin: 1px; /* 15% from the top and centered */
    margin-left: 300px;
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%;  Could be more or less, depending on screen size */ 
    display: none;  
    z-index: 1;
    margin: 1px; 
    padding: 1px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 300px;
    background-color: rgb(210, 221, 221);
}

#close{
    color: rgb(136, 133, 133);
    float: right;
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
}
  
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.text{
    font-size: 20px;
    padding: 6px;
}
