
*{
    margin: 0;
    padding: 0;
}
.body{
    background-image: url(todo.jpeg);
}

span{
    cursor: pointer;
}


img{
    width: 30px;
    float: right;
    padding: 5px;
    cursor: pointer
}

.header{
    
}